DJANGO_DEBUG_FLAG=True
DJANGO_ENVIRONMENT_NAME=Local_Testing
DJANGO_SETTINGS_MODULE=sherpany.settings
DJANGO_SECRET_KEY=__CHANGEME__

# Databases
DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_NAME=__CHANGEME_WITHOUT_DASH__
DB_USERNAME=postgres
DB_PASSWORD=__CHANGEME__
DB_PORT=5432